:root{
  --btn-bg: #8ebef4;      /* 基本色（青） */
  --btn-bg-hover:#92b9e6; /* hover */
  --btn-text:#fff;
  --btn-radius: 5px;     /* 丸み */
}

button.btn{
  appearance: none;
  border: none;
  color: var(--btn-text);
  background: linear-gradient(180deg, var(--btn-bg) 0%, #286cba 100%); /* うっすらグラデ */
  padding: 7px 10px;
  border-radius: var(--btn-radius);
  box-shadow:
    0 6px 14px -6px var(--btn-shadow), /* 立体影 */
    0 2px 0 rgba(255,255,255,.15) inset; /* 上面ハイライト */
  cursor: pointer;
  transition: transform .06s ease, box-shadow .06s ease, background .15s ease;
}

button.btn:hover {
  background: linear-gradient(180deg, var(--btn-bg-hover) 0%, #336eae 100%);
  box-shadow:
    0 8px 18px -6px var(--btn-shadow),
    0 2px 0 rgba(255,255,255,.12) inset;
}


button.add-btn {
  font-family: 'Noto Serif JP', serif;
  appearance: none;
  border: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #4a90e2;
  color: var(--btn-text);
  font-size: 22px;        /* ＋が見やすい大きさ */
  cursor: pointer;
  display: flex;
  align-items: center;    /* 縦中央 */
  justify-content: center;/* 横中央 */
  padding: 0;             /* ← これ大事！paddingがあるとズレる */
  margin-top: 10px;
  margin-left: 3px;
}

button.add-btn:hover {
  background: var(--btn-bg-hover);
  box-shadow:
    0 6px 14px -6px var(--btn-shadow),
    0 2px 0 rgba(255,255,255,.12) inset;
}
